@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
.cv {
    background-image: url("front72.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}
img {
    margin-left:auto;
    margin-right:auto;
}

.contactinf {
    text-align: center;
    font-size: 1.4em;
    font-family: Georgia;
    letter-spacing: 0.1em;
    color: #ff96a2;
    text-shadow: 0.5px 0.5px 0 #57769D;
}
    .contactinf:hover {
        text-shadow: 1px 1px 0 #57769D, 2px 2px 0 #57769D, 3px 3px 0 #57769D, 4px 4px 0 #57769D, 5px 5px 0 #57769D;
    }

.minf {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: transparent;
    text-shadow: 0 0 1px #eee, 5px 5px 1px #00dcdc, -5px -2px 1px #CD6889;
    animation: glitch 4s ease-in-out infinite alternate;
}
@keyframes glitch {
  0%,40%,44%,58%,61%,65%,69%,73%,100% {transform:skewX(0deg);}
  41% {transform: skewX(10deg);}
  42% {transform: skewX(-10deg);}
  59% {transform: skewX(40deg) skewY(10deg);}
  60% {transform: skewX(-40deg) skewY(-10deg);}
  63% {transform: skewX(10deg) skewY(-5deg);}
  70% {transform: skewX(-50deg) skewY(-20deg);}
  71% {transform: skewX(10deg) skewY(-10deg);}
}

p {
    color: #EEE9E9;
    text-shadow: 0.2px 0.2px 0 #57769D;
    font-size: 20px;
}
code {
    
    color: #EEE9E9;
    font-size: 20px;
}
h4 {
    margin-bottom: 270px;
}
p:hover {
    text-shadow: 1px 1px 0 #C26483, 2px 2px 0 #C26483, 3px 3px 0 #C26483, 4px 4px 0 #C26483, 5px 5px 0 #C26483;
}

 .footer{
    background-position: center;
    font-size:30px;
    color: #E39F81;
    text-shadow: 1px 1px 0 #AFB8FF;
 }
 .footer:hover{
    background-position: center;
    text-shadow: 1px 1px 0 #AFB8FF, 2px 2px 0 #AFB8FF, 3px 3px 0 #AFB8FF, 4px 4px 0 #AFB8FF, 5px 5px 0 #AFB8FF;
 }

ul {
    color: #EEE9E9;
    text-shadow: 1px 1px 0 #57769D;
}
a:link {
    color: #EEE9E9; /* Цвет ссылок */
}
a:active {
    color: #EEE9E9; /* Цвет активной ссылки */
}
a:visited {
    color: #EEE9E9; /* Цвет посещенной ссылки */
}

ul:hover {
    text-shadow: 1px 1px 0 #57769D;
}
